mediverse/linux/flutter/generated_plugin_registrant.cc
mediverse/linux/flutter/generated_plugins.cmake
mediverse/macos/Flutter/GeneratedPluginRegistrant.swift
mediverse/windows/flutter/generated_plugin_registrant.cc
mediverse/windows/flutter/generated_plugins.cmake
mediverse/macos/Flutter/GeneratedPluginRegistrant.swift
mediverse/windows/flutter/generated_plugin_registrant.cc
mediverse/windows/flutter/generated_plugins.cmake
mediverse/pubspec.yaml
mediverse/.vscode/
settings.json
mediverse/android/gradle.properties
mediverse/windows/flutter/generated_plugins.cmake
mediverse/windows/flutter/generated_plugin_registrant.cc
mediverse/macos/Flutter/GeneratedPluginRegistrant.swift
mediverse/linux/flutter/generated_plugins.cmake
mediverse/linux/flutter/generated_plugin_registrant.cc
mediverse/android/gradle.properties
mediverse/pubspec.lock
mediverse/android/gradle.properties
mediverse/android/gradle.properties
*.properties
